:root
{
  --luck-mustard: #E6BD49;
  --stone-plate: #666666;
  --artist-canvas: #F2F2F2;
  --agave: #50947D;
  --blue-berry: #5772A1;
  --almost-salmon: #DD6B50;
  --inactive-clr: #cdcdcd;
  --cream-back: #F2F2F2;
}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select:   none; /* Safari */
  -moz-user-select:      none; /* Old versions of Firefox */
  -ms-user-select:       none; /* Internet Explorer/Edge */
  user-select:           none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  /* All elements will have this slight animation */
  transition: all 0.15s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code
{
  font-family: "Segoe UI", sans-serif, monospace;
}
