
/* Only apply this style when device width is 720 and beyond */
@media screen and (min-width: 760px)

{

  body
  {
    background-color: #F2F2F2;
    font-size: 26px;
    overflow-x: hidden;
  }

  a
  {
    text-decoration: none;
    color: var(--luck-mustard);
  }

  a:hover
  {
    color: inherit;
  }

  /* Mobile-App Container */
  #mobile_header
  {
    display: none;
  }

  #grid-container
  {
    display: grid;
    grid-template-columns: 90px 1fr;
  }

  #sidebar svg
  {
    fill: rgba(0, 0, 0, 0.3);
    transform: rotate(-90deg);
  }

  #content
  {
    grid-column: 2 / 3;
    padding-top: 75px;
  }

  #content-message
  {
    display: grid;
    grid-template-columns: minmax(300px, 750px) minmax(400px, 1fr);
  }

  .section
  {
    display: grid;
    place-content: start;
  }

  #section-one
  {
    row-gap: 35px;
  }

  #section-one p > svg
  {
    height: 155px;
    fill: #9b9b9b;
    stroke: #9b9b9b;
    stroke-width: 2px;
  }

  #section-one h1
  {
    font-size: 3.2em;
  }

  #section-one p
  {
    color: black;
    font-size: 20px;
    font-weight: 300;
    padding-right: 100px;
    min-width: 512px;
  }


  #section-one > h1
  {
    font-size: 73px;
    color: black;
    font-weight: 500;
  }

  #section-two {
    position: relative;
  }

  #section-two img {
    -webkit-filter: drop-shadow(2px 90px 24px rgba(0, 0, 0, 0.09));
    filter: drop-shadow(2px 90px 24px rgba(0, 0, 0, 0.09));
    overflow: hidden;
    position: relative;
    transform: rotate(45deg);
    z-index: -1;
    top: 150px;
    left: 250px;
    height: 800px;
  }


  #investors-button-desk
  {
    position: absolute;
    top: 20px;
    display: grid;
    right: 20px;
    background-color: rgba(240, 240, 240, 0.6);
    height: 45px;
    width: 100px;
    border-style: none;
    border-radius: 10px;
    color: #3a3a3a;
    font-size: 18px;
    outline: none;
    place-items: center
  }

  #investors-button-desk:hover
  {
    background-color: var(--blue-berry);
    color: white;
  }

  #investors-button-desk:active
  {
    background-color: var(--almost-salmon);
    color: white;
  }


  #content-companies {
    padding-top: 165px;
    display: grid;
    row-gap: 135px;
    padding-bottom: 100px;
  }

  #our-companies {
    display: grid;
    align-items: center;
    justify-items: start;
  }

  #our-companies h4 {
    font-size: 42px;
    color: #D2D2D2;
    font-weight: 300;
  }

  #dailyapp
  {
    display: grid;
    row-gap: 70px;
  }

  #dailyapp-title
  {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    place-items: center;
    column-gap: 32px;

    padding-left: 84px;
  }

  #dailyapp-title svg
  {
    height: 52px;
  }

  #dailyapp-title p
  {
    background-color: #A6C5BA;
    font-size: 14px;
    padding: 8px 10px;
    color: white;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    font-weight: 700;
  }


  #dailyapp-content
  {
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(3, max-content);
    place-content: center;
    place-items: center;
  }

  #dailyapp-content > p
  {

    color: #C8C8C8;
    width: 350px;
    text-align: center;
    font-size: 26px;
  }

  #dailyapp-content > a
  {
    place-self: center;
    padding: 12px 18px;
    background-color: #5A9B5A;
    border-style: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
  }

  #light-switch-grid-container {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: max-content;
    place-items: center;
    place-content: center;
    row-gap: 14px;
  }

  footer
  {
    height: 75px;
    background-color: #E4E4E4;
    display: grid;
    place-items: center;
  }

  footer #footer-logo
  {
    height: 18px;
    fill: #999999;
  }

}

.txt-light    { font-weight: 100; }
.txt-semibold { font-weight: 600; }

.txt-size-93 { font-size: 93px; }
.txt-size-83 { font-size: 83px; }
.txt-size-36 { font-size: 36px; }

.txt-clr-mustard       { color: #E6BD49; }
.txt-clr-stone-plate   { color: #666666; }
.txt-clr-artist-canvas { color: #F2F2F2; }
.txt-clr-agave         { color: #50947D; }
.txt-clr-blue-berry    { color: #5772A1; }
.txt-clr-almost-salmon { color: #DD6B50; }

.lft-marg-15 { margin-left: 15px }

.opac-0 { opacity: 0 }
.opac-100 { opacity: 100% }


.bdr-rnd-6 { border-radius: 6px; }
.bdr-rnd-7 { border-radius: 7px; }